@font-face {
  font-family: Roboto;
  src: url("../../../assets/fonts/Roboto/Roboto-Regular.ttf");
}
.wrapper {
  font-family: Roboto, sans-serif !important;
}
.logo{
  margin: auto;
  width: 10rem;
  height: auto;
}
p {
  font-weight: normal;
}
a {
  text-decoration: none;
  color: #062264;
}
a:hover{
  color: #f6765e;
}
.form-control:focus {
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  border-bottom: 3px solid #062264 !important;
  outline: 0;
  box-shadow: none;
}
.align {
  font-size: large;
  display: flex;
  align-items: center;
}
