<div class="loading" *ngIf="loading">Loading&#8230;</div>
<section class="wrapper">
    <div class="bg-primary">
        <div class="container vh-100">
            <div class="row vh-100 justify-content-center align-items-center">
                <div class="col-lg-6 col-md-8 col-12 mx-auto">
                    <div class="card border-0 rounded-4">
                        <div class="card-body">
                            <div class="d-grid justify-content-center">
                                <img src="../../../assets/images/QRPLogoWeb.png" alt="" class="logo">
                                <div class="mx-auto my-2 h3">Reset Password</div>
                                <p class="text-muted">Enter email address to reset your password</p>
                            </div>
                            <form [formGroup]="resetForm" (ngSubmit)="submitresetForm">
                                <label for="email" class="mt-4 form-label">Email</label>
                                <input type="email" name="email" class="form-control border-0 border-bottom rounded-0"
                                    formControlName="email">
                                <div *ngIf="resetForm.get('email')?.hasError('required') && (resetForm.get('email')?.touched || resetForm.get('email')?.dirty)"
                                    class="error mt-1">
                                    Required Field
                                </div>
                                <div *ngIf="resetForm.get('email')?.hasError('email') && (resetForm.get('email')?.touched || resetForm.get('email')?.dirty)"
                                    class="error mt-1">
                                    Invalid Format
                                </div>
                                <div class="w-100 centerall">
                                    <button type="submit" class="btn btn-secondary mt-4 px-4 d-flex align-items-center"
                                        [disabled]="submitted || resetForm.invalid"><i class="ti ti-restore me-2"></i>Reset</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>