<div class="container bg">
    <div class="row">
        <div class="col-12">
            <!-- Share Button -->
            <div class="d-flex mb-3">
                <button type="button" class="btn btn-light rounded-circle ms-auto" data-bs-toggle="modal"
                    data-bs-target="#exampleModal"><i class="fa-solid fa-ellipsis"></i></button>
            </div>
        </div>
        <div class="col-12 text-center">
            <div class="d-flex flex-column justify-content-center align-items-center">
                <div class="image mb-2">
                    <img src="./assets/images/profile1.png" class="profile-img" alt="Profile Piture">
                </div>
                <div class="title mb-2">
                    <h1>Daniyal Sajid</h1>
                    <p class="small">Random Description/Bio</p>
                </div>
            </div>
        </div>
  
        <div class="col-12">
            <div class="d-flex flex-column justify-content-center align-items-center">
                <div class="qr-link">
                    <div class="icon">
                        
                    </div>
                    <div class="link-title">
                        Instagram
                    </div>
                    <div class="options">
                        <i class="fa-solid fa-ellipsis"></i>
                    </div>
                </div>
  
                <div class="qr-link">
                    <div class="icon">
                        <!-- <i class="fa-brands fa-facebook"></i> -->
                        <img src="./assets/images/profile1.png" class="rounded-pill">
                    </div>
                    <div class="link-title">
                        Instagram Facebook Snapchat
                    </div>
                    <div class="options">
                        <i class="fa-solid fa-ellipsis"></i>
                    </div>
                </div>
  
                <div class="qr-link">
                    <div class="icon">
                        
                    </div>
                    <div class="link-title">
                        Instagram
                    </div>
                    <div class="options">
                        <i class="fa-solid fa-ellipsis"></i>
                    </div>
                </div>
  
                <div class="qr-link">
                    <div class="icon">
                        
                    </div>
                    <div class="link-title">
                        Instagram
                    </div>
                    <div class="options">
                        <i class="fa-solid fa-ellipsis"></i>
                    </div>
                </div>
  
                <div class="qr-link">
                    <div class="icon">
                        
                    </div>
                    <div class="link-title">
                        Instagram
                    </div>
                    <div class="options">
                        <i class="fa-solid fa-ellipsis"></i>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="mt-4 fs-1 d-flex justify-content-center pb-3 pb-lg-5">
            <i class="fa-brands fa-instagram icon-color"></i>
            <i class="fa-brands fa-tiktok icon-color mx-4"></i>
            <i class="fa-brands fa-spotify icon-color"></i>
        </div>
  
    </div>
  </div>