<section class="wrapper">
    <nav class="navbar navbar-expand-lg">
        <div class="container bg-white rounded-pill">
            <a class="navbar-brand" routerLink="">
                <img src="./assets/images/TM QRP.svg" alt="" class="logo order-0">
            </a>
            <div class="order-lg-2 flexend">
                <!-- <button type="button" class="btn-secondary py-1 px-3 d-none d-lg-flex align-items-center"><i
                        class="ti ti-bolt me-1"></i>Try for
                    Free</button>
                <button type="button" class="btn-secondary py-1 px-3 me-1 lh-0 d-block d-lg-none"><i
                        class="ti ti-bolt fs-5"></i></button> -->

                <button type="button" class="btn-secondary py-1 px-3 me-3 d-none d-lg-flex"><i
                        class="ti ti-share-2 fs-5 me-1"></i>Share</button>
                <button type="button" class="btn-secondary py-1 px-3 me-1 d-block d-lg-none"><i
                        class="ti ti-share-2 fs-5"></i></button>
                <div class="dropdown">
                    <button type="button" class="btn-primary size rounded-circle me-1 me-lg-0" type="button"
                        data-bs-toggle="dropdown" aria-expanded="false">D</button>
                    <ul class="dropdown-menu dropdown-menu-end py-2 px-3">
                        <div class="d-flex align-items-center mt-2">
                            <div>
                                <img src="./assets/images/profile1.png" alt="" class="rounded-circle">
                            </div>
                            <div class="ms-2">
                                <p class="mb-0 fw-bold text-primary">@dt7solution</p>
                                <p class="mb-0">qrpixel/dt7solution</p>
                            </div>
                        </div>
                        <button type="button"
                            class="btn btn-primary w-100 my-3 d-none d-lg-flex justify-content-center align-items-center"><i
                                class="ti ti-plus me-2"></i>Create a new account</button>
                        <button type="button" class="btn btn-primary w-100 my-3 d-lg-none"><i
                                class="ti ti-plus me-2"></i>New account</button>

                        <small class="fw-bold my-2 text-primary">Account</small>
                        <li class="my-2"><a routerLink="" class="text-dark"><i class="ti ti-user-circle me-2"></i>My Account</a></li>
                        <li class="mb-2"><a routerLink="" class="text-dark"><i class="ti ti-coin me-2"></i>Billing</a></li>
                        <small class="fw-bold text-primary">Support</small>
                        <li class="my-2"><a routerLink="" class="text-dark"><i class="ti ti-info-circle me-2"></i>Ask Question</a></li>
                        <li><a routerLink="" class="text-dark"><i class="ti ti-layers-subtract me-2"></i>Feedback</a></li>
                        <li class="my-2"><a routerLink="" class="text-dark"><i class="ti ti-logout me-2"></i>LogOut</a></li>
                    </ul>
                </div>

            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto my-2 my-lg-0 order-lg-1">
                    <li class="nav-item">
                        <button type="button" class="btn btn-header mx-xl-2" routerLink="/admin"><i
                                class="ti ti-dashboard fs-5 me-2"></i>Dashboard</button>
                    </li>
                    <li class="nav-item">
                        <button type="button" class="btn btn-header mx-xl-2" routerLink="/admin/appearance"><i
                                class="ti ti-template fs-5 me-2"></i>Appearance</button>
                    </li>
                    <li class="nav-item">
                        <button type="button" class="btn btn-header mx-xl-2" routerLink="/admin/analytics"><i
                                class="ti ti-chart-bar fs-5 me-2"></i>Analytics</button>
                    </li>
                    <li class="nav-item">
                        <button type="button" class="btn btn-header mx-xl-2"><i
                                class="ti ti-calendar-month fs-5 me-2"></i>Calendar</button>
                    </li>
                    <li class="nav-item">
                        <button type="button" class="btn btn-header" routerLink="/admin/setting"><i
                                class="ti ti-settings fs-5 me-2"></i>Settings</button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</section>