<div id="bg-gradient1">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8 mx-auto">
                <button type="button" class="btn btn-light float-end rounded-circle my-2"><i
                        class="ti ti-dots"></i></button>
            </div>
            <div class="col-12 col-md-8 mx-auto text-center">
                <div class="centerall">
                    <img src="../../assets/images/profile1.png" alt="" class="profile-img">
                </div>
                <h6 class="my-2 text-white">Daniyal Sajid</h6>
                <p><small>Random Description/Bio</small></p>
            </div>

            <div class="col-12 col-md-8 mx-auto text-center">
                <!-- <button type="button" class="btn btn-white pill">
                    <i class="ti ti-brand-instagram fs-4"></i>
                    <small>Instagram</small>
                    <button type="button" class="btn btn-light rounded-circle"><i class="ti ti-dots"></i></button>
                </button> -->
                <button type="button" class="btn btn-white pill">
                    <i class="ti ti-brand-snapchat fs-4"></i>
                    <small>Snapchat</small>
                    <button type="button" class="btn btn-light rounded-circle"><i class="ti ti-dots"></i></button>
                </button>
                <button type="button" class="btn btn-white pill">
                    <i class="ti ti-brand-spotify fs-4"></i>
                    <small>Spotify</small>
                    <button type="button" class="btn btn-light rounded-circle"><i class="ti ti-dots"></i></button>
                </button>
                <button type="button" class="btn btn-white pill">
                    <i class="ti ti-brand-youtube fs-4"></i>
                    <small>YouTube</small>
                    <button type="button" class="btn btn-light rounded-circle"><i class="ti ti-dots"></i></button>
                </button>
            </div>

            <div class="col-12 col-md-8 mx-auto text-white display-1 bottomicons">
                <i class="ti ti-brand-tiktok"></i>
                <i class="ti ti-brand-spotify mx-2"></i>
                <i class="ti ti-brand-x"></i>
            </div>
        </div>
    </div>
</div>